.skillsWhole{
    margin-bottom: 70px;
}

.skills{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.skillsTitle{
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 100;

}

.skillsDescription{
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}

.skillsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 65px;
    font-size: 16px;
}

.tools{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

