
.header{
    /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cssgrid_triangles.svg');*/
    background-image: url("./images/Background2.0.jpg");
    padding-bottom: 90px;
    margin-top: -140px;
}



.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-family: 'Peralta', cursive;;
    background-color: rgba(0, 0, 255, 0) !important;

}

.logo {
    font-weight: bold;
    font-size: 28px;
    color:  gray ;
    margin-left: 10px;
    letter-spacing: 5px;
}

ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    width: 40%;
    list-style-type: none; 
    margin-right: 10px;
}

a{
    color: gray !important;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .selfImage{
    border-radius: 60px;
    height: 125px;
    width: 125px;
    margin-top: 200px;
} */

.name{
    font-family: monospace;
    color: whitesmoke;
    margin-top: 10px;
    font-size: 30px;
    margin-top: 200px;
    border-bottom: 1px solid honeydew;
    padding-bottom: 25px;
}

.profession{
    font-family: monospace;
    color:white;
    font-size: 25px;
    margin-top: 15px;
}

.hero-copy{
    opacity:0.7
}

.footer p {
margin: auto;
margin-bottom: 10px;
}

.footer{
margin-top: 30px;
padding-top: 10px;
padding-bottom: 20px;
border-top: 1px solid gray;
display: grid;
grid-template-columns: 1fr;
opacity: 0.5;
}
