
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  

  .projects-grid{
    display: flex;
    
  }
  .projects-grid{
    padding: 20px;
  }

.edit_image{
padding-right:10px;
padding-left: 10px;
}

.footer{
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr;
  opacity: 0.5;
}

.footer p {
  margin: auto;
  margin-bottom: 10px;
}


.projectTitle{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 3px;
}
